* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	
	--primary: #3FBDF1;
	--primary-lighter: #67CAF5;
	--primary-darker: #17AAEA;
	--accent: #FFC73A;
	--accent-secondary: #FF603A;
}

body {
	width: 100%;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	background: #ffffff;
	color: #000000;
}

section {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 4rem;
}

p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	max-width: 60ch;
}

h2 {
	letter-spacing: 0.125em;
	text-decoration: underline;
	text-underline-offset: 0.5em;
	text-decoration-color: var(--primary);
	text-decoration-thickness: 4px;
	margin-bottom: 2rem;
}

h2,
h3,
h4 {
	letter-spacing: 0.05em;
}

#title,
#toc,
#appendices,
#glossary {
	width: 100%;
	height: 100vh;
	justify-content: center;
	margin-bottom: 0;
}

#title {
	align-items: center;
}

#title img {
	align-self: center;
	margin-bottom: 2rem;
}

#title h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

#title h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-decoration: none;
}

#title h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#title h4 {
	font-size: 1.25rem;
}

#appendices {
	margin-top: 4rem; 
}