---
import { Markdown } from 'astro/components';

---
<section id="toc" class="page">
   <Markdown>
      # Table of Contents

      <div class="toc-entry">

         [Table of Contents](/#toc)

         2

      </div>

      <div class="toc-entry">

         [Introduction](/#introduction)

         3

      </div>

      <div class="toc-entry">

         [Career Possibilities](/#career)

         4

      </div>

      <div class="toc-entry">

         [Academic vs Professional Writing](/#academic-professional)

         5

      </div>

      <div class="toc-entry">

         [Research Resources](/#research)

         6

      </div>

      <div class="toc-entry">

         [Writing Process](/#process)

         7

      </div>

      <div class="toc-entry">

         [Writing Help](/#help)

         8

      </div>

      <div class="toc-entry">

         [Style Guides](/#style-guides)

         9

      </div>

      <div class="toc-entry">

         [Ethics and Writing](/#ethics)

         10

      </div>

      <div class="toc-entry">

         [Visuals](/#visuals)

         11

      </div>

      <div class="toc-entry">

         [Conclusion](/#conclusion)

         12

      </div>

      <div class="toc-entry">

         [References](/#references)

         13

      </div>

      <div class="toc-entry">

         [Appendices](/#appendices)

         14

      </div>

      <div class="toc-entry">

         [Glossary](/#glossary)

         15

      </div>
   </Markdown>
</section>

<style>
   a {
      display: block;
      text-decoration: none;
      font-size: 12pt;
      color: var(--color);
      font-weight: bold;
      padding: 0.25em;
   }

   a:hover {
      text-decoration: underline;
   }

   .toc-entry {
      display: flex;
      justify-content: space-between;
      /* border-bottom: 2px dotted #000000; */
      border-bottom: 2px solid var(--primary);
   }

   #toc {
      /* height: 11in; */
      /* justify-content: center; */
   }
</style>