---
import { Markdown } from 'astro/components';

---
<section id="introduction">
   <Markdown>
      ## Introduction

      This will be some introductory text. With any luck, it will be formatted in a way that's not totally horrible.
   </Markdown>
</section>
