---
import { Markdown } from 'astro/components';

---
<section id="introduction">
   <Markdown>
      ## Introduction

Web development is a challenging field that’s known for its focus on programming. But being a good programmer isn’t only about creating programs. There’s an aspect of every web developer’s academic and professional life that can be just as important as the programs and websites they create — the writing they produce.

New and experienced students alike can feel overwhelmed with the number of writing assignments they need to produce for school. If a student is used to writing in an academic style, they may feel lost when faced with the prospect of adjusting to the expectations of professional life. A lot of students need help to figure out what they should focus on in their writing and where they should look for help when they need it. That’s what this guide is for!

There’s a lot of ground to cover when talking about the two major types of writing a web developer might produce. We’ll go over some of the different types of writing students and professionals create and the differences between professional and academic writing. We’ll look at the kinds of research people do in preparation for writing and good places to look for research materials. We’ll talk about the writing process, what to do when you need help with your writing, and examples of writing style guides. We’ll introduce ethical considerations every writer faces and, finally, how to use graphics and visuals effectively so every piece of writing you produce is the best it can possibly be.

Before we get into writing, though, we want to talk about why students should be interested in web development. Professionals in the field already know why they chose to work with the internet, but students might be weighing a career in the field against all of the amazing options available to someone with a degree in computer science. So first, let’s take a peek at the career possibilities for prospective web programmers.

   </Markdown>
</section>
