---
import { Markdown } from 'astro/components';

---
<section id="career">
<Markdown>
## Career Possibilities

Web developers have a lot of reasons to enjoy what they do. Web programmers commonly work on challenges that require an in-depth knowledge of multiple programming languages and networking protocols — an aspect of the career that’s sure to keep even the best programmer sharp — and web developers also have the opportunity to work remotely more than many other fields. [cnbc] But many people are primarily interested in how much web developers get paid.

According to the U.S. Bureau of Labor Statistics (USBLS), web developers make a median salary of just over $77,000 per year [usbls].

The website Glassdoor estimates that web developers who are just starting out can expect to earn a base pay of $84,000 per year, plus additional benefits. Glassdoor uses numbers submitted by users and government data to calculate their estimates [glassdoor].
<figure>
   <image class="citation-image" src="/images/GlassDoorEstimates.png" style="max-width: 70%;"/>
   <figcaption>Web Developer Salary Estimate, December 2021, <a href="">Glassdoor</a></figcaption>
</figure>

It’s also a good idea to remember that developers with more experience make 20-percent more money on-average than entry-level programmers [compsci.org]. Of course, knowing how much money you can expect to make if you choose the field is good, but what about the future? What are the prospects for the web development industry in the coming years?

Reporting by USBLS projected the broad field of web development to grow by 13-percent from 2020 to 2030 [usbls]. Web development is a growing field and that means those with the skills and knowledge are sought-after. Not every computer science student is interested in web development, but those who are can rest assured that there’s a bright future ahead of them.
</Markdown>
</section>
