---
import { Markdown } from 'astro/components';

---
<section  id="research">
   <Markdown>
      # Research Resources

      This will be some introductory text. With any luck, it will be fformatted in a way that's not totally horrible.
   </Markdown>
</section>
