---
import { Markdown } from 'astro/components';

---
<section  id="style-guides">
   <Markdown>
      ## Style Guides

      This will be some introductory text. With any luck, it will be fformatted in a way that's not totally horrible.
   </Markdown>
</section>
