---
import { Markdown } from 'astro/components';

---
<section id="visuals">
   <Markdown>
      # Visuals

      This will be some introductory text. With any luck, it will be fformatted in a way that's not totally horrible.
   </Markdown>
</section>
