---
import { Markdown } from 'astro/components';

---
<section class="html2pdf__page-break" id="conclusion">
   <Markdown>
      ## Conclusion

      This will be some introductory text. With any luck, it will be fformatted in a way that's not totally horrible.
   </Markdown>
</section>
