---
import { Markdown } from 'astro/components';

---
<section id="references" class="html2pdf__page-break page">
   <Markdown>
      # References

      This will be some introductory text. With any luck, it will be fformatted in a way that's not totally horrible.
   </Markdown>
</section>
